.content-card-factory {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff; 
    border-radius: 16px;
    transition: all 0.3s ease;
}

.content-card-factory:hover {
    color: #0052CC; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.card-img-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-left {
    padding-top: 16px;
    display: flex;
    align-items: center;
    color: #9CA3AF; 
    font-size: 12px;
    gap: 4px;
}

.card-actions-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-actions-btn button {
    padding: 16px 0 0 16px;
}