.navigation li {
    position: relative;
    padding: 16px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    padding-left: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #171717;
}

.navigation ul li .icon {
    fill: #8F92A1;
  }

.navigation ul li a {
    display: flex;
    align-items: flex-start;
}

.navigation ul li a.active span {
    color: #7E2DFC;
    fill: #7E2DFC;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: #8F92A1;
}

.navigation .nav-active-line {
    height: 32px;
    width: 3px;
    background-color: #7E2DFC;
    position: absolute;
    top: 9px;
    left: -20px;
    display: none;
    border-radius: 0 100px 100px 0;
  }
  
  .navigation .active .nav-active-line {
    display: block;
  }
  