.project {
    display: flex;
}

.short-info {
    margin-left: 32px;
    margin-bottom: 24px;
}

.img-data-project {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.project-img-container {
    margin-bottom: 65px;
    width: 150px;
    height: 220px;
    border-radius: 16px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
  
.project-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.string-moderation-data {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.2em;
}

.h4-grey {
    color: #9CA3AF;
}

.project-path {
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.project-path h4 {
    font-weight: 700;
    line-height: 20px;
}

.project-info-content {
    flex: 1;
    padding: 32px;
    margin: 40px 0;

    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 16px;
}

.project-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info-stats {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.project-info-stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: #8F92A1;
}

.project-info-stat img {
    width: 16px;
    height: 16px;
}

.project-info-btn-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.project-info-btn-group .btn-grey {
    padding: 8px 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.project-info-btn-group .btn-red {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 16px;
}

.project-video-block {
    position: relative;
    margin-top: 32px;
    margin-bottom: 24px;
    width: 760px;
    height: 428px;
    align-items: center;
    background-color: rgba(143, 146, 161, 0.2);
    border-radius: 16px;
}


.btn-play {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(126, 45, 252, 0.8);
    font-size: 22px;
}

.switcher-seasons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.switcher-episodes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.btn-episode, 
.btn-season {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.btn-season {
    margin-bottom: 16px;
    padding: 4px 24px;
    background-color: rgba(143, 146, 161, 0.1);
    color: #171717;
    border-radius: 4px;
}

.btn-season.active {
    color: #0052CC;
    background-color: rgba(0, 82, 204, 0.1);
}

.btn-season:hover {
    background-color: #eee;
}

.btn-episode:hover {
    color: #171717;
}

.btn-episode {
    color: #8F92A1;
}

.btn-episode.active {
    color: #0052CC;
}

.project-info-line {
    position: relative;
    margin: 13px -32px;
    width: 824px;
    border-bottom: solid 0.1px rgba(143, 146, 161, 0.2);
}

.wrapper-active-line {
    position: relative;
    margin: 0 32px;
}

.project-info-line .active-line {
    position: absolute;
    margin-left: 32px;
    bottom: -2px; 
    height: 2px;
    background-color: blue; 
    width: 48px;
    border-radius: 16px 16px 0 0;
}

.project-info-screenshots-group .img-container {
    width: 178px;
    height: 108px;
}

.project-info-description h1 {
    margin: 32px 0;
}

.project-info-description {
    margin-bottom: 28px;
}

.project-info-authors {
    margin-bottom: 34px;
}

.project-info-author {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 38px;
}

.project-info-author p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #8F92A1;
}

.project-info-author h3 {
    margin: 8px 0;
}

.project-info-screenshots {
    margin: 30px 0;
}

.project-info-screenshots h1 {
    margin-bottom: 32px;
}

.project-info-screenshots-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 178px);
    gap: 16px;
}