.sections-projects-edit {
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
}

.switcher-section-edit {
    padding-bottom: 5px;
    line-height: 24px;
    font-weight: 700;
    color: #8F92A1;
}

.switcher-section-edit.active {
    color: #0052CC;
}

.wrapper-active-line {
    margin: auto;
}

.active-line {
    position: absolute; 
    height: 2px;
    background-color: blue; 
    border-radius: 16px 16px 0 0;
    transition: all 0.3s ease;
}